<%- include("../partials/header") %> 

<h1><%= campground.name %></h1>

<img src="<%= campground.image %> " alt="">

<p><%= campground.description %> </p>

<a class="btn btn-primary mt-2 mb-4" href="/campgrounds/<%= campground._id %>/comments/new ">Add New Comment</a>

<h6>Comments</h6>
<% campground.comments.forEach(comment => { %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %>  </p>
<% }) %>

<%- include("../partials/footer") %> 