<%- include("../partials/header") %> 

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="list-group">
                <ul class="rounded">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail p-0">
                <div>
                    <img class="img-fluid mx-auto w-100" src="<%= campground.image %> " alt="Responsive image">
                </div>
                <div class="caption-full mx-2">
                    <h4 class="text-right">$30.00/night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p><%= campground.description %> </p>
                </div>
            </div>
            <div class="well border rounded mt-5 bg-light">
                <div class="text-right">
                    <a class="btn btn-success mt-4 mb-2 mr-4" href="/campgrounds/<%= campground._id %>/comments/new ">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(comment => { %>
                    <div class="row mx-4">
                        <div class="col-md-12 bg-light">
                            <%= comment.author %>
                                <span class="float-right">10 days ago</span>
                            <p><strong></strong> - <%= comment.text %>  </p>
                            <hr>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %> 